<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Form</title>
  </head>
  <body>
    <form action="/result" method="POST">
      <p>Name <input type="text" name="name" /></p>
      <p>Student Number <input type="text" name="student_number" /></p>
      <p>Gender</p>
      <input type="radio" name="gender" value="Male" /> Male
      <input type="radio" name="gender" value="Female" /> Female
      <p>Major <input type="text" name="major" /></p>
      <p>Programming Languages</p>
      <input type="checkbox" name="languages[]" value="Python" /> Python
      <input type="checkbox" name="languages[]" value="Java" /> Java
      <input type="checkbox" name="languages[]" value="HTML" /> HTML
      <input type="checkbox" name="languages[]" value="C++" /> C++<br /><br />
      <button type="submit" name = 'submit' value = 'submit'>submit</button>
    </form>
  </body>
</html>

