<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Form</title>
  </head>
  <body>
    <form action="/result" method="POST">
      <p><b>* Name</b> <input type="text" name="name" /></p>
      <p><b>* Student Number </b><input type="text" name="student_number" /></p>
      <p><b>* University </b><input type="text" name="university" /></p>
      <p><b>* Major </b><input type="text" name="major" /></p>
      <p><b>* Gender</b></p>
      <input type="radio" name="gender" value="Male" /> Male
      <input type="radio" name="gender" value="Female" /> Female
      <p>
      <form>
        <label for="email"><b>* Email</b></label>
        <input type="text" id="email" name="email">
        @
        <select name="domain">
            <option value="" selected>선택</option>
            <option value="@naver.com">naver.com</option>
            <option value="@gmail.com">gmail.com</option>
            <option value="@daum.net">daum.net</option>
            <option value="@hanmail.net">hanmail.net</option>
            <option value="@nate.com">nate.com</option>
        </select>
      </form>
      <p><b>* Programming Languages</b></p>
      <input type="checkbox" name="languages[]" value="Python" /> Python
      <input type="checkbox" name="languages[]" value="Java" /> Java
      <input type="checkbox" name="languages[]" value="HTML" /> HTML
      <input type="checkbox" name="languages[]" value="C++" /> C++<br /><br />
      <button type="submit" name = 'submit' value = 'submit'>submit</button>
    </form>
  </body>
</html>

